@charset "UTF-8";
/* CSS Document */

a {
	display: block;
	color: white;
	text-decoration: none;
}

a:link {
	display: block;
	color: white;
	text-decoration: none;
}

a:visited {
	display: block;
	color: white;
	text-decoration: none;
}

a:hover {
	display: block;
	color: #7E2217;
	text-decoration: none;
}

a:active {
	display: block;
	color: #7E2217;
	text-decoration: none;
}

#nav ul {z-index:1000;}

#top-nav {
	position:absolute;
	left:150px;
	top:120px;
	width:1285px;
	height:43px;
}

#nav_links {
	position:absolute;
	left: 200px;
	top: 130px;
	width:1000px;
	color: #ffffff;
	z-index: 20;
	font-size: 12px;
}

#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1581px;
	height:1650px;
}

#left-bg {
	position:absolute;
	left:0px;
	top:0px;
	width:97px;
	height:1650px;
}

#left-shadow {
	position:absolute;
	left:97px;
	top:0px;
	width:52px;
	height:1415px;
}

#header {
	position:absolute;
	left:149px;
	top:0px;
	width:1286px;
	height:120px;
}

#logo {
	position:absolute;
	left:40px;
	top:10px;
	width:270px;
	height:76	px;
}

#right-shadow {
	position:absolute;
	left:1435px;
	top:0px;
	width:58px;
	height:1415px;
}

#rt-bg {
	position:absolute;
	left:1493px;
	top:0px;
	width:88px;
	height:1650px;
}

#left-shadow006 {
	position:absolute;
	left:149px;
	top:120px;
	width:1px;
	height:1295px;
}

#id1-about {
	position:absolute;
	left:150px;
	top:120px;
	width:283px;
	height:43px;
}

#id2-events {
	position:absolute;
	left:433px;
	top:120px;
	width:120px;
	height:43px;
}

#id3-contact {
	position:absolute;
	left:553px;
	top:120px;
	width:120px;
	height:43px;
}

#index-10 {
	position:absolute;
	left:673px;
	top:120px;
	width:1px;
	height:43px;
}

#id4-resources {
	position:absolute;
	left:674px;
	top:120px;
	width:118px;
	height:43px;
}

#id5-media {
	position:absolute;
	left:792px;
	top:120px;
	width:82px;
	height:43px;
}

#id6-blog {
	position:absolute;
	left:874px;
	top:120px;
	width:82px;
	height:43px;
}

#blank-nav {
	position:absolute;
	left:956px;
	top:120px;
	width:479px;
	height:43px;
}

#lower-nav {
	position:absolute;
	left:150px;
	top:163px;
	width:1285px;
	height:11px;
}
#featured-video iframe {
	z-index: -10;
}
#video-area {
	position:absolute;
	left:150px;
	top:174px;
	width:738px;
	height:450px;
	z-index: -10;
}

#featured-area {
	position:absolute;
	left:780px;
	top:174px;
	width:655px;
	height:450px;
	background-color:#000000;
}

#prayer-request {
	position:absolute;
	left:150px;
	top:564px;
	width:303px;
	height:43px;
	z-index: 40;
}

#prayer-strip {
	position:absolute;
	left:453px;
	top:564px;
	width:982px;
	height:43px;
}

#prayerstream {z-index: 2000;}

#weapons-pic {
	position:absolute;
	left:150px;
	top:607px;
	width:340px;
	height:181px;
}

#discipl-pic {
	position:absolute;
	left:490px;
	top:607px;
	width:302px;
	height:181px;
}

#leader-pic {
	position:absolute;
	left:792px;
	top:607px;
	width:265px;
	height:181px;
}

#quote-week {
	position:absolute;
	left:1057px;
	top:607px;
	width:378px;
	height:319px;
}

#quote_block {
	position:absolute;
	left:1095px;
	top:650px;
	width:300px;
	height:275px;
	z-index:40;
}

.quote_title {
	font-family: Universal, Georgia, Times;
	color: #ffffff;
	font-size: 28px;
	font-style: normal;
	line-height: 1.1;
	text-align: left;	
}
.quote {
	font-family: 'brush script', Georgia, Times;
	color: #ffffff;
	font-size: 20px;
	font-style: italic;
	line-height: 1.1;
	text-align: left;	
}

.author {
	color: #ffffff;
	font-size: 20px;
	font-variant: small-caps;
}
#weapons-content {
	position:absolute;
	left:150px;
	top:788px;
	width:340px;
	height:299px;
}

#disciple-content {
	position:absolute;
	left:490px;
	top:788px;
	width:302px;
	height:300px;
}

#leader-content {
	position:absolute;
	left:792px;
	top:788px;
	width:265px;
	height:299px;
}
#article1 {
	position:absolute;
	left:215px;
	top:810px;
	width:220px;
	height:275px;
	z-index:30;
}

#article2 {
	position:absolute;
	left:515px;
	top:810px;
	width:220px;
	height:275px;
	z-index:30;
}

#article3 {
	position:absolute;
	left:818px;
	top:810px;
	width:220px;
	height:275px;
	z-index:30;
}
	
.article_block h1 {
	font-family: "Garamond";
	font-weight: bold;
	font-size: 28px;
	line-height: 100%;
	text-align: center;
}

.article_block p {
	font-family: "Arial";
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	text-align: left;
	width:220px;
}

#featured-rsrc {
	position:absolute;
	left:1057px;
	top:926px;
	width:378px;
	height:418px;
}

#index-28 {
	position:absolute;
	left:150px;
	top:1087px;
	width:60px;
	height:37px;
}

#weap-learn {
	position:absolute;
	left:210px;
	top:1087px;
	width:144px;
	height:37px;
}

#weapons-blank {
	position:absolute;
	left:354px;
	top:1087px;
	width:136px;
	height:37px;
}

#leader-learn {
	position:absolute;
	left:792px;
	top:1087px;
	width:168px;
	height:37px;
}

#leader-blank {
	position:absolute;
	left:960px;
	top:1087px;
	width:97px;
	height:37px;
}

#discip-learn {
	position:absolute;
	left:490px;
	top:1088px;
	width:162px;
	height:36px;
}

#discip-blank {
	position:absolute;
	left:652px;
	top:1088px;
	width:140px;
	height:36px;
}

#content-spacer {
	position:absolute;
	left:150px;
	top:1124px;
	width:907px;
	height:29px;
}

#links-footer {
	position:absolute;
	left:150px;
	top:1153px;
	width:907px;
	height:191px;
}
#god4me {
	position: absolute;
	left:90px;
	top: 35px;
	z-index: 20;
}
#facebook {
	position: absolute;
	top: 27px;
	left: 330px;
	z-index: 20;
}
#youtube {
	position: absolute;
	top: 110px;
	left: 335px;
	z-index: 20;
}
#donate {
	position: absolute;
	left:650px;
	top: 35px;
	z-index: 20;
}
#copyright-bar {
	position:absolute;
	left:150px;
	top:1344px;
	width:1285px;
	height:71px;
}

#shadow-bottom {
	position:absolute;
	left:97px;
	top:1415px;
	width:1395px;
	height:43px;
}

#index-40 {
	position:absolute;
	left:1492px;
	top:1415px;
	width:1px;
	height:235px;
}

#index-41 {
	position:absolute;
	left:97px;
	top:1458px;
	width:1395px;
	height:192px;
}

-->
</style>

