<div id="gray_sidebar">
		<div id="promos">
			<div id="promo1" class="promo_block"><%= render_cell :quote, :display, :quote => @quote %></div>
			<div id="promo2" class="promo_block"><a href="/pages/donate"/><img src="/images/donate/Sow_Donate_badge.gif" /></a></div>
			<div id="promo3" class="promo_block"><a href="/pages/events#weapons" target="self"><img src="/images/announcements/WEAPONS.gif" width="240" height="275"></a>
			<div id="promo4" class="promo_block"><a href="http://www.covenanteyes.com/?promocode=god4me"/><img src="/images/ads/covenanteyes.jpg"/></a></div>	
		</div>
		
</div>