</br>
<p id="notice"><%= notice %></p>

<p>Thank you. Your request for a Discipleship Boot Camp promotion package has been received. We will mail these out to you immediately. We are so excited about what God is going to do in our region among the men that God has called you and I to disciple. Thanks for your partnership in the Kingdom. <p></br>
	
<p>We look forward to a catalytic and life changing event on May 30th, 2015!<p>


<p><%= link_to 'Home', root_path %></p>
