<h1>Request a Free Discipleship Boot Camp Promotional Pack</h1>
<br/>
<p>Thank you for your interest in the upcoming MDN Discipleship Boot Camp. These events are life changing, catalytic and energizing to the men who attend and can be an excellent way to jumpstart your men's ministry. We'd like to assist you in promoting the event within your Church or small group by providing you with items like posters, slides, promotional cards. Kindly complete the form below so we can get your materials sent out right away.</p><br/>
	
<p>Thank you for your request. Remember...Men don't get what they wish for, they get what they <span style="font-weight:bold">Prepare, Train, and Live for!</span></p><br />

<p>May God Bless You,<br/>
	<br/>
	Pastor Scott Caesar<br/> Founder of Men's Discipleship Network</p></br>

<%= render 'form' %>

