<div id="top-image">
	<img src="../images/about/about_top_image.jpg" width="933" height="377" alt="men listening to Head Coach Scott Caesar">
</div>
<div id="mdn_desc" class="about">
<h1>History of Men's Discipleship Network</h1>
	<div id="about_mdn">Men's Discipleship Network had it's humble beginnings in 1996 in the basement of Head Coach Scott Caesar's basement when he obeyed God's prompting to begin a bible study for men. Little did Coach Scott know that his seemingly insignificant act of obedience would be the start of a great movement of God among men in the Northeast US. It was around that time that Coach Scott McCarthy founded Promise Keepers. Coach McCarthy took Scott Caesar under his wing and mentored him and entrusted him with the followup to the men from the stadium Promise Keepers events in the early and mid 1990's. In that time Scott founded God4me resource ministry to provide affordable access to biblically sound Christian books and a the store provided the headquarters for the increasingly large group of men gathering in his basement. Men's Discipleship Network was formed in 2011 as a division of God4me with the specific mission of training and equipping men for service to Christ.</p></div>

</div>
<div id="mission_desc" class="about">
<h1>About Our Mission</h1>
	<div id="about_mission"><h2>For the Church...Doing together what we can not do alone.</h2><p>MDN is assisting the church in mobilizing and training their men in order that men might grow in their love for God and to bear much fruit for Him. This alliance equips leadership to minister more effectively through a system of training.</p></br>
		<h2>For the Man...to mature a man to make him strong in the Lord.</h2><p>MDN provides training to instruct his heart - that he bears the masculine image of Jesus Christ, to instruct his head in the truths that challenge the lies men live, and instruct his hands, creating purpose driven habits.</p></br>
	</div>
</div>
<div id="founder_desc" class="about">
<h1>About Our Founder</h1>
	<div id="about_founder"><p>Head Coach Scott Caesar is a Discipleship Revivalist, and Founder of the Men’s Discipleship Network. He speaks to thousands each year at Business Conferences, Churches, Men’s Discipleship Boot Camp ® as well as the newly launched W.E.A.P.O.N.S.TM Curriculum. These events equip men to be more accountable leaders in their homes, churches and communities. As a Ordained Minister,  speaker and writer, Scott’s passionate calling is to assist men in their spiritual growth by replacing the lies of the world with the truth of the Bible so that they may become fully devoted followers of Jesus Christ.</p></br> 

	<p>Friends and Mentors, Promise Keepers ® Founder, Bill McCartney, The late Dr. Edwin Louis Cole, Rich Galloway, Bishop Rod Caesar and Pastor Steve Milazzo,  have shaped and molded Scott as he stands in the gap with the local Church as an advocate for Christian Men, not ceasing till revival through ministry to men takes place.</p></br>

	<p>The Men’s Discipleship Network’s Four Phase System of Male Discipleship has seen unprecedented growth in the Northeast due to the message–driven events that hold men and their churches accountable to the process of transformation. “Truth that Transforms Needs Training that Sustains.”</p></br>

	<p>This is all done in partnership with the local church as over 50,000 men from over 1000 churches have been trained this Discipleship System.</p></br>

	<p>One of Scott’s joys is the Businessmen of Faith TM luncheons held throughout NY. Men come from all venues to engage faith, integrity and excellence in the marketplace. </p></br>

	<p>Coach can be heard daily on Radio with “Manhood Minutes” as well as his weekly Radio show “A New Kind of Man”.</p></br>

	<p>Scott’s greatest thrill is that God calls him Son, Debbie calls him hers’ and
	Kimberly, Vincent and Nicholas call him Dad. He resides in Massapequa Park, NY. 
	</p></br>
	</div>
</div>
<div id="network_desc" class="about">
<h1>About Our Network</h1>
	<div id="about_network"><p>About Our Network (Description of the Churches who are allied with us - need a list of these churches and a description of their relationship)</p></br></div> 
</div>
<div id="system_desc" class="about">
<h1>About Our System</h1>
	<div id="about_system"><p>Men's Discipleship Network has created a system of discipleship that assists the local church in training and equipping their men to become committed disciples of Jesus Christ. The graphic below provides a visual explanation of how the MDN Discipleship System takes men and leads them through events and challenging but practical training to assist the local church Pastor in discipling his men. Men return from MDN training having grown in their male maturity, obedience to Christ, and commitment to God, family, church, and job. </p></br>
		<p>Discipleship Boot Camp&#153; is a masculine school of transformation that has seen unprecedented growth in the Northeast due to the message–driven main events that challenge men to live in a manner pleasing and demanded by a Holy God. MDN’s follow-up strategy includes a training curriculum called W.E.A.P.O.N.S. that teaches a man to strengthen himself in the Lord. MDN’s work is never done in isolation, but rather we work in partnership with the local churches in the Northeast. Over 50,000 men from over 1000 churches have been trained at Discipleship Boot Camp.</p></br>
	</div>
</div>
<div id="belief_desc" class="about">
<h1>About Our Beliefs</h1>
	<div id="about_beliefs"><h2>We Believe...</h2><p>(Insert Statement of Faith Here...)</p></br>
		</p></br>
	</div>
</div>
