<div class="clearfix">
	<div>
		<h1>MDN Affiliate Churches</h1></br>
		<p>Meet our Affiliate Churches from many different denominations which are part of the Men’s Discipleship Network:</p></br>
	</div>

	<div class="centered">

		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://cccinfo.org/" target="self">Christian Cultural Center</a></br></br><h3>Pastor AR Bernard</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="https://www.brooklyntabernacle.org/" target="self">Brooklyn Tabernacle</a></br></br><h3>Pastor Jim Cymbala</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.sgtchurch.org" target="self">Smithtown Gospel Tabernacle</a></br></br><h3>Pastor Gary Zarlengo</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.bethlehemag.org/" target="self">Bethlehem Assembly of God</a></br></br><h3>Rev. Steve Milazzo</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.alphabc.org/" target="self">Alpha Baptist Church</a></br></br><h3>Pastor Danny Scotton</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://cogef.org/" target="self">East Flatbush Church of God</a></br></br><h3>Bishop R.C. Hugh Nelson</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.christtabernacle.org/" target="self">Christ Tabernacle</a></br></br><h3>Pastor Adam Durso</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.bronxbethany.org/live-stream" target="self">Bronx Bethany Church of the Nazarene</a></br></br><h3>Rev. Dr. Samuel Vassel</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.immanuelnyc.org/" target="self">Immanuel Lutheran Church</a></br></br><h3>Pastor Norbert Folwaczny</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://christchurchihs.webs.com/" target="self">Christ Church United Methodist</a></br></br><h3>Pastor Randall Paige</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://bgtfi.us/" target="self">Bethel Gospel Tabernacle</a></br></br><h3>Bishop Roderick Caesar</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.ebcconnects.com/ " target="self">Emmanuel Baptist</a></br></br><h3>Rev. Ralph P. Taylor</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.ollmp.org/" target="self">Our Lady of Lourdes</a></br></br><h3>Monsignor James Lisante</h3></div>

		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.westchesterchristian.org/new/our-pastor/?view=mobile" target="self">Westchester Christian Worship Center</a></br></br><h3>Pastor Russell Hodgins</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.freedomchapelny.org/" target="self">Freedom Chapel International Worship Center</a></br></br><h3>Pastor Jimmy Jack</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.fgcip.org/" target="self">Full Gospel Church of Island Park</a></br></br><h3>Pastor Peter Conforti</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.medfordag.org" target="self">Medford Assembly of God</a></br></br><h3>Pastor Anthony Pelella</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.springfieldnaz.org/" target="self">Church of the Nazarene (Springfield)</a></br></br><h3>Pastor Lenroy Pascall</h3></div>
		<div class="grid sponsor shadow5 padding-top-20 on_white"><a href="http://www.lambschurch.org/" target="self">Lamb’s Church of the Nazarene</a></br></br><h3>Rev. Dr. Gabriel Salguero</h3></div>
	</div>
</div>