<div id="top-image">
	<img src="../images/announcements/announcements_top_image.jpg" width="933" height="377" alt="">
</div>
<div id="announce-1" class="news">
<h1>Announcements</h1>
</br>
<h2>MDN Leadership Bible Study So Full - Walls Fall Down!</h2>
<p>The Wednesday morning Leadership Bible Study has been over capacity for about 18 months. Held every Thursday morning at 6:30AM at the God4me Word Center in Farmingdale, NY, this study is often so full that men have to stand outside the door to listen in. To accommodate the ever growing crowd of men hungry to be challenged from God's Word, the MDN Board has decided to expand the meeting room and take over a portion of the God4me book shelving.</p></br>
<p>The old room held approximately 30 men with reasonable comfort...but often 40 guys showed up to hear from God! The new room will hold 100 people sitting around large round tables. This added capacity will make it more comfortable for the die-hard attendees, and be more inviting for guests and first timers.</p></br>
<p>The new room will also enable us to conduct W.E.A.P.O.N.S. Curriculum Training courses at the resource center and to open up the space to other gatherings.</P></br>
<p>If you would like to pitch in your financial support to offset the contractor and material costs for this renovation, MDN would really appreciate it. You can donate <a href="/pages/donate">here</a>.</p></br>
</div>
<div id="announce-1-photo"><img src="/images/announcements/IMG_0447.jpg" width="600"></div>
