<div id="top-image">
	<img src="../images/announcements/announcements_top_image.jpg" width="730" height="295" alt="">
</div>
</br>
<div id="announce-1" class="news">
<h1>Announcements</h1>
</br>
<h2>MDN Completes WEAPONS&#153; Curriculum for Men</h2>
<h3>December 21, 2012</h3></br>
<p>MDN has completed and printed the new WEAPONS&#153; training curriculum for men. The curriculum is now available in a kit that will enable a pastor or men's leader'
	to use the same challenging curriculum and materials that is provided at the WEAPONS&#153; Leadership Training taught by MDN coaches. Each kit includes a set of DVDs
	with videos of Head Coach Scott Caesar going over all the material in the curriculum in a "train the trainer" format, so that the pastor or men's leader is easily
	able to provide this amazing, life changing training available to the men in their church.</P>
<p>The cost of the training kit is $299 and includes the Leader Guide, Student Manual, and "train the trainer" DVD set. Additional student manuals are available at $24.95 each.
	To find out more about the MDN WEAPONS&#153; Curriculum for Men email us at<a href="mailto:info@mensdiscipleshipnetwork.com?&subject=Questions about WEAPONS">info@mensdiscipleshipnetwork.com.</a>
	</p>
</div>
<div id="announce-1-photo"><img src="/images/announcements/weapons_teach.jpg" width="700"></div>
