<div id="top-image">
</br>
	<div class="center"><%=image_tag("audio_card.jpg", :alt => "Discipleship Boot Camp will be held at the Christian Cultural Center in Brooklyn NY on May 30, 2015. Call 631-753-1244 for details.") %>
	</div>
</div>
<div class="interior_content clearfix">
	
	<div id="dbc">
	</br>
	
	<div class="small_txt">
		<p>Thank you to Dr. A.R. Bernard and the wonderful staff at the Christian Cultural Center for your generosity in sharing your gorgeous facilities and in laboring with us to deliver what was probably the most impactful Discipleship Boot Camp to date. Men from all over the region spent their entire Saturday to gather together as brothers and to seek God's face. We all were challenged by the truth delivered with grace by the many gifted speakers who gave of their time to participate in our event. The 8 breakout sessions were filled to overflowing capacity and the topics and messages challenged and ministered to each man who attended. What a great God we serve! We call on Him and He answers and meets with us to strengthen and mold us. What a loving Father we have, who gives the Holy Spirit to His sons!</p>

		<%= image_tag("bootcamp/dbc_2015_crowd.jpg", :width => '730', :height => '295', :alt => 'Audience watching Dr. David Ireland at an MDN Discipleship Boot Camp')%>

		</br>
		<p>MDN’s Discipleship Boot Camp<sup>&#174;</sup> is a powerful, often life changing event in which men from all over the region come together to be challenged by the Word of God delivered through engaging, powerful, and inspired speakers and pastors. You will experience the power of brotherhood with men who share one common bond: Jesus Christ. Come as you are. There are none perfect here (Romans 3:10); just men recognizing their need of the Savior and a desire to become more like Him. Discipleship Boot Camp<sup>&#174;</sup>  is fun. You will laugh until you cry, and you will cry until you laugh as you experience the grace of Christ in your life. Come and be among the multitude of men called by God to gather "for such a time as this”. Come! Be “The Man God Blesses”.</p>
		</br>

        <div class="white_data">

		
		<h2>Attend a Discipleship Boot Camp<sup>&#174;</sup>:</h2>
		<ul>
			<li>Be Trained, Instructed, and Challenged to thrive in the roles that God has given you</li>
			<li>Ignite the faith of you and be motivated to love God and bear much fruit</li>
			<li>Break the grip of sin and addiction to pornography, substance abuse, and relational dysfunction</li>
			<li>Crush the cycle of yo-yo Christianity, and receive training to yield male maturity</li>
			<li>Get a "shot in the arm" with your Men's group and recommit your purpose and mission</li>
			<li>Receive training and inspiration to effectively address the needs of your church's men</li>
		</ul>
		
            <div class="video">
			<p>Take a look at some highlights from last year's Discipleship Boot Camp</p></br>
			<iframe width="560" height="349" src="https://youtu.be/eaLUJm5nEoc" frameborder="0" allowfullscreen></iframe>
			</div>	</br>
		</div>
	</div>

</div>
