<div id="top-image">
	<%= image_tag("bootcamp/bootcamp_top_image.jpg", :width => '730', :height => '295', :alt => 'Men standing and worshiping Jesus at an MDN Discipleship Boot Camp')%>
</div>
<div class="interior_content clearfix">
	<div id="dbc">
	<h1>Discipleship Boot Camp<sup>&#174;</sup></h1></br>
	<h2>March 29, 2014</h2>
	<p>Location: Smithtown Gospel Tabernacle</br>
	1 Higbie Drive </br>
	Smithtown, NY 11787</p>

	<a href="https://www.eventbrite.com/e/seven-marks-of-maximized-manhood-tickets-10055810199?ref=ebtnebtckt" target="_blank"><img src="http://www.eventbrite.com/custombutton?eid=10055810199" alt="Eventbrite - Seven Marks of Maximized Manhood" /></a></br></br>
	<div class="small_txt">
		<p>Discipleship Boot Camp<sup>&#174;</sup> is an event that challenges a man to the depth of his being, confronting him with the realization of the Holy God, the great inadequacy of the workings of his flesh, and the hope that exists only through Jesus Christ and in living out the plan God has for him as the head of his family, leader in his church, and provider.</p>
		</br>
		<h2>Attend a Discipleship Boot Camp<sup>&#174;</sup>:</h2>
		<ul>
			<li>Train, Instruct, and Challenge your men to thrive in the roles that God has given</li>
			<li>Ignite the faith of your men and motivate them to love God and bear much fruit</li>
			<li>Break the grip of sin and addiction to pornography, substance abuse, and relational dysfunction</li>
			<li>Crush the cycle of yo-yo Christianity, and provide training that yields male maturity</li>
			<li>Provide the "shot in the arm" for your Men's group to put them back on the right direction</li>
			<li>Provide training to your Pastor or Men's Leader to effectively address the needs of your church's men</li>
		</ul>
		</br>
		<div class="video">
			<p>Take a look at these highlights from our Fall 2010 Discipleship Boot Camp series.</p></br>
			<iframe width="560" height="349" src="http://www.youtube.com/embed/UjGzVLwCWZY" frameborder="0" allowfullscreen></iframe>
			</div>
			<div></br>
			<span style="font-weight: bold; text-align: center;"><p>Next Discipleship Boot Camp<sup>&#153;</sup> is on March 29, 2014!</p><p><a href="#tickets">Tickets selling quickly! Register Today!</a></p></span>
		</div>
	</div>

	<div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=10055810199&ref=etckt&v=2" frameborder="0" height="306" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/seven-marks-of-maximized-manhood-tickets-10055810199?ref=etckt">Seven Marks of Maximized Manhood</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>


</div>
