<div id="top-image">
	<img src="../images/bootcamp/bootcamp_top_image.jpg" width="933" height="377" alt="">
</div>

<h1>Discipleship Boot Camp</h1>
<p>Take a look at these highlights from our Fall 2010 Discipleship Boot Camp series.</p></br>
<div class="video">
<iframe width="560" height="349" src="http://www.youtube.com/embed/UjGzVLwCWZY" frameborder="0" allowfullscreen></iframe>
</div>
