<div id="top-image">
	<img src="../images/bootcamp/bootcamp_top_image.jpg" width="730" height="295" alt="">
</div>
<div class="interior_content clearfix">
	<div id="dbc">
	<h1>Discipleship Boot Camp<sup>&#153;</sup></h1></br>

	<a href="/pages/events#dbc">Register Today!</a></br></br>
	<p>Isaiah saw God and was suddenly confronted with the profound realization of God's glory and the instant dread of realizing his own shortcoming before the Righteous Judge. He cried...</p></br> <p><span style="font-style: italic; margin-left: 10px; text-indent: -10px;">“Woe to me!”... “I am ruined! For I am a man of unclean lips, and I live among a people of unclean lips, and my eyes have seen the King, the LORD Almighty.” </p></span><p> Isaiah 6:5  </p></br>
	<p>Like Isaiah, we live among a people of "unclean lips" in a culture that is increasingly corrupt and anti-Christ. Men can't help but to be exposed to this culture, but they don't have to be overcome by it.</p></br>
	
	<p>Discipleship Boot Camp<sup>&#153;</sup> is an event that challenges a man to the depth of his being, confronting him with the realization of the Holy God, the great inadequacy of the workings of his flesh, and the hope that exists only through Jesus Christ and in living out the plan God has for him as the head of his family, leader in his church, and provider.</p>
	</br>
	<h2>Attend a Discipleship Boot Camp:</h2>
	<ul>
		<li>Train, Instruct, and Challenge your men to thrive in the roles that God has given</li>
		<li>Ignite the faith of your men and motivate them to love God and bear much fruit</li>
		<li>Break the grip of sin and addiction to pornography, substance abuse, and relational dysfunction</li>
		<li>Crush the cycle of yo-yo Christianity, and provide training that yields male maturity</li>
		<li>Provide the "shot in the arm" for your Men's group to put them back on the right direction</li>
		<li>Provide training to your Pastor or Men's Leader to effectively address the needs of your church's men</li>
	</ul>
	</br>
		<div class="video">
		<p>Take a look at these highlights from our Fall 2010 Discipleship Boot Camp series.</p></br>
		<iframe width="560" height="349" src="http://www.youtube.com/embed/UjGzVLwCWZY" frameborder="0" allowfullscreen></iframe>
		</div>
		<div></br>
		<span style="font-weight: bold; text-align: center;"><p>Next Round of Discipleship Boot Camps<sup>&#153;</sup> are in March 2013!</p><p><a href="/events/events">Tickets selling out! Register Today!</a></p></span></br></br>
		</div>
	</div>
</div>
