<div id="top-image">
</br>
	<div class="center"><%=image_tag("bootcamp/dbc_2015.jpg", :alt => "Discipleship Boot Camp will be held at the Christian Cultural Center in Brooklyn NY on May 30, 2015. Call 631-753-1244 for more details.") %>
	</div>
</div>
<div class="interior_content clearfix">
	
	<div id="dbc">
	<h1>Discipleship Boot Camp<sup>&#174;</sup></h1></br>
	<h2>May 30, 2015</h2>
	<p>Location: Christian Cultural Center</br>
	Brooklyn NY</p>
	<button onclick="window.location='/requests/new';">Order your FREE Promotional Package Today</button>
	</br>
	</br>
	<h1>Don't Miss It!</h1>
</br>
	
	<div class="small_txt">
		<p>Discipleship Boot Camp<sup>&#174;</sup> is an event that challenges a man to the depth of his being, confronting him with the realization of the Holy God, the great inadequacy of the workings of his flesh, and the hope that exists only through Jesus Christ and in living out the plan God has for him as the head of his family, leader in his church, and provider.</p>
		</br>
		<div style='width:100%; text-align:left; margin-left:15px;'><iframe id='ezframe' width='100%' scrolling='auto' height='450' frameborder='0' allowtransparency='true' hspace='0' vspace='0' marginheight='5' marginwidth='5' src='http://www.eventzilla.net/web/event_ext.aspx?EventID=2139073707' name='ezframe'></iframe></div>
		<h2>Attend a Discipleship Boot Camp<sup>&#174;</sup>:</h2>
		<ul>
			<li>Train, Instruct, and Challenge your men to thrive in the roles that God has given</li>
			<li>Ignite the faith of your men and motivate them to love God and bear much fruit</li>
			<li>Break the grip of sin and addiction to pornography, substance abuse, and relational dysfunction</li>
			<li>Crush the cycle of yo-yo Christianity, and provide training that yields male maturity</li>
			<li>Provide the "shot in the arm" for your Men's group to put them back on the right direction</li>
			<li>Provide training to your Pastor or Men's Leader to effectively address the needs of your church's men</li>
		</ul>
<%= image_tag("bootcamp/bootcamp_top_image.jpg", :width => '730', :height => '295', :alt => 'Men standing and worshiping Jesus at an MDN Discipleship Boot Camp')%>
		<div class="video">
			<p>Take a look at these highlights from our Fall 2010 Discipleship Boot Camp series.</p></br>
			<iframe width="560" height="349" src="http://www.youtube.com/embed/UjGzVLwCWZY" frameborder="0" allowfullscreen></iframe>
			</div>	</br>
		</div>
	</div>

</div>
