<div id="top-image">
	<%= image_tag("curriculum/weapons_set_top_image.jpg", :width => '730', :alt => 'Photo of the WEAPONS training curriculum for men. This image shows the DVDs, manuals, and box that comes in the kit')%>

</div>
<div class="interior_content clearfix">
	<div id="curriculum_body" class="stats title">
		<div id="curriculum_resources"><a href="/resources"><%= image_tag("announcements/free_resources.png") %></a></div>
		<div id="curriculum_overview">

			<h1>W.E.A.P.O.N.S.<sup>&#174;</sup> Curriculum for Men</h1>
			<h2>Inspired by Scripture, Taught by You.<sup>&#153;</sup></h2>
			<p>The W.E.A.P.O.N.S.® model provides simple, step-by-step comprehensive training to assist the teacher and his core leaders to equip, engage and teach men. It is a proven blueprint to grow a thriving men’s ministry that has the power to revive a man’s soul, family and church. This 8-week scripture-drenched course is founded on 20 years of ministry to men by Men’s Pastor Scott Caesar. Thousands of men have experienced the joy of being set free and living free as the Gospel becomes practical and attractive, creating a multiplying effect on the church and community. </p>
		</div>

		<div class="callout">
			<p>"I commend Men’s Discipleship Network and Men’s Pastor Scott Caesar for the benefit they provide for all of those ministered to. I recommend MDN to anyone who would want an authentic and genuine Christian ministry."</p><citation>-- Dr. Edwin Louis Cole, Author and Father of the Christian Men’s Movement</citation>
		
			<p>"Men’s Discipleship Network is straight from God’s heart. The most desperate undertaking of the church today is discipleship. This is anointed."</p><citation>-- Coach Bill McCartney, Founder of Promise Keepers</citation>
		
			<p>“MDN and the WEAPONS Curriculum comes alongside the pastor and the local church to raise up men. It reproduces leaders in the home, church and community. The WEAPONS Curriculum is easy to use, spirit-filled, packed with solid Biblical truth”</p><citation>-- Pastor Steve Milazzo</citation>
		</div></br>

		<div id="curriculum_bullets">
			<h2>The Kit Includes:</h2>
			<ul>
				<li>8 Session Instructional DVDs</li>
				<li>Teacher’s Bonus DVD (How Men Learn)</li>
				<li>2 Leader’s Guides</li>
				<li>1 Participant’s Manual </li>
				<li>Promotional Invitation Postcards</li>
				<li>Promotional DVD</li>
				<li>2 Promotional Posters</li>
				<li>Certificate of Completion </li>
			</ul>
		</div>
		<div id="curriculum_bullets">
			<h2>Featuring:</h2>
			<ul>
				<li>Leader’s Teaching Points with simple session objectives and key words </li>
				<li>Man-Life Parables and interactive workshops with discussion times </li>
				<li>Rules of Engagement Scriptures relevant for today’s man</li>
				<li>A sustainable system of accountable brotherhood built to last </li>
				<li>A proven game plan of consistent Bible engagement for your men </li>
				<li>Access to streaming on-line video for further in-depth study</li>
			</ul>
		</div>
		<div id="curriculum_bullets">
			<h2>Sessions</h2>
			<ul>
				<li>Introduction to the W.E.A.P.O.N.S. Curriculum </li>
				<li>Word of God: “Gentlemen This is a Football” </li>
				<li>Expunge: Habits that Hinder </li>
				<li>Association: The Precept of Permission</li>
				<li>Purpose: The Wallet, The Woman & The Wide World of Sports</li>
				<li>Order: Radically Balancing life </li>
				<li>Names of God: Knowing God </li>
				<li>Strength: The Upside Down Kingdom </li>
				<li>Bonus Session: How Men Learn </li>
			</ul>
		</div>

		<div>
			<H2>Suggested Donation for Starter Kit is $139.00</h2>

			<p><a href="http://www.mensdiscipleshipnetwork.com/resources">Click here </a>for sample teaching based on content from the W.E.A.P.O.N.S.® training. For more information email<a href="mailto:coach@mensdiscipleshipnetwork.com">coach@mensdiscipleshipnetwork.com</a></p>

			<p>To purchase please call customer service at 631-753-1244 (Monday-Friday 10am - 4pm). This item is currently available as a PRE-ORDER. While you may purchase this item immediately, it will not ship from our warehouse until December 1st, 2015.</p>

		</div>
		
		
	</div>
</div>
