<div id="top-image">
	<img src="../images/curriculum/curriculum_top_image.jpg" width="933" height="377" alt="">
</div>
</br>
<div id="curriculum_body">
	<div id="curriculum_logo"><img src="/images/curriculum/WEAPONS-logo.jpg"></div>
	</br>
	</br>
	<h1>Training Curriculum for Men</h1></br>
	<h2>What would a man's life look like if he...</h2>
	<ul>
		<li>Knew how to make the Bible relevant in his life</li>
		<li>Replaced habits that hinder with habits that attract</li>
		<li>Had authentic friendships, and sought out mentors</li>
		<li>Was able to control both his thoughts & words</li>
		<li>Overcame fear, confusion, & procrastination with rock-solid faith</li>
		<li>Replaced a meaningless existence with purpose & passion</li>
		<li>Turned poor money management into successful stewardship</li>
		<li>Brought a solution of oneness & headship to marital conflict</li>
		<li>Turned past wounds & inferiority into a new-found identity & strength</li>	
	</ul>
	<!-- ></br>
	<a href="/events/events#events"><span style="font-size: 18px; font-weight: bold">Purchase Tickets Today!</span></a> -->
	</br>
	</br><p>Sessions occur on six weekly sessions on consecutive Tuesday nights. <a href="../pages/events">Check the schedule</a> for the next training session. Watch this video to see what the men are saying about this life changing training:</p></br>
	<div class="video">
	<iframe width="560" height="349" src="http://www.youtube.com/embed/GGXD5ztd0e4" frameborder="0" allowfullscreen></iframe>
	</div>
	</br>
	<p>The W.E.A.P.O.N.S.<sup>&#174;</sup> curriculum provides a comprehensive training on the most vital truths for the Christian man. The format consists of teaching combined with engaging video presentations and discussion/application time. Attendees leave each training session with a training manual and game plan to implement, returning the following week prepared for the next session.</p></br>
	<p>This six-week scripture drenched course is founded on fifteen on fifteen years of ministry to over 25,000 men from more than 1000 churches.</p></br>
		<h2>W.E.A.P.O.N.S.<sup>&#174;</sup>of Warfare - Session Topics</h2>
		<ul>
			<li><span style="font-size:20pt;">W</span>ord of God - Sword of Man </li>
			<li><span style="font-size:20pt;">E</span>xpunge - Lust for Life - A Man & Habits </li>
			<li><span style="font-size:20pt;">A</span>ssociation - Culture of Honor - Permission Granted </li>
			<li><span style="font-size:20pt;">P</span>urpose - The Wallet, The Woman, & The Wide World of Sports </li>
			<li><span style="font-size:20pt;">O</span>rder - Radically Balancing a Man's Life </li>
			<li><span style="font-size:20pt;">N</span>ame - Knowing God - Honoring Men </li>
			<li><span style="font-size:20pt;">S</span>ignificance - Re-wired Man - Abundant Life </li>
		</ul>
	</br>
	<h2>The W.E.A.P.O.N.S.<sup>&#174;</sup> - Tuition is $99.95 - Includes:</h2>
	<ul>
		<li>Admission - Six Complete Sessions over Consecutive Tuesday Nights</li>
		<li>6 CD Audio Teaching Collection</li>
		<li>W.E.A.P.O.N.S.<sup>&#174;</sup> Training Manual</li>
		<li>Certificate of Course Completion</li>
	</ul>
	</br>
	<!-- ><a href="/events/events#events"><span style="font-size: 18px; font-weight: bold">Purchase Tickets Today!</span></a> -->
	</br>
</div>