<div id="top-image">
</br>
	<div class="center"><%=image_tag("audio_card.jpg", :alt => "Discipleship Boot Camp will be held at the Christian Cultural Center in Brooklyn NY on May 30, 2015. Call 631-753-1244 for details.") %>
	</div>
</div>
<div class="interior_content clearfix">
	<% if time_to_display %>
		<div>
			<p style="font: Audiowide; font-size: 18px;">If you purchased an audio access card at the 2015 Men's Discipleship Bootcamp, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN. We pray that God impacted you through the work of the ministry.</p></br>
		
			<div style="text-align:center">
				<iframe src="http://www.dropcards.com/download/profilewidget/?ArtistID=35908" width="500" height="305" scrolling="no" frameborder="0" allowtransparency="true" style='width: 400px; height:205px; background= none;'></iframe>
			</div>
			</br>
	    </div>
	<% else %>
	   <div id="watch"><h1>You may begin downloading the event audio with your Access Card at 12PM EST on June 3rd. Thank you for your patience.</h1></div></br></br>
		
	<% end %>
</div>
