<div id="top-image">
</br>
	<div class="center"><%=image_tag("announcements/audio_card_2016.jpg", :alt => "Discipleship Boot Camp will be held at the Smithtown Gospel Tabernacle church in Smithtown, NY on April 9, 2016. Call 631-753-1244 for details.") %>
	</div>
</div>
<div class="interior_content clearfix">
	<% if time_to_display %>
		<div>
			<p style="font: Audiowide; font-size: 18px;">The Men’s Discipleship Boot Camp, “The Measure of a Man” was a powerful and "man-changing" event for Christian men. Along with a line-up of the nation’s top men’s speakers, men from all over the tri-state area gathered to hear “Truth that Transforms with Training that Sustains”.  Due to the overwhelming response for the speakers’ sessions at this packed event, we are providing the event audio with every keynote speaker and breakout session available for purchase with the Audio Access Card.</p></br>
		  <div>
			<h1><span style="font-size: 20px;">Included on Card:</span></h1>
			<ul class="square-list padding20">
              <li>Morning Keynote Message <span style="font-style: italic; font-size: 14px">with speaker Dr. A.R. Bernard</span></li>
              <li>Afternoon Keynote Message <span style="font-style: italic; font-size: 14px">with speaker Bishop R Caesar, Pastor Brian McMillan, Pastor Steve Milazzo</span></li>
              <li>“The Measure of a Man” <span style="font-style: italic; font-size: 14px">with speaker Men’s Pastor, Scott Caesar</span></li>
			</ul></br>
          </div>
          <div>
			<h1><span style="font-size: 20px;">Breakout Sessions:</span></h1>
			<ul class="square-list padding20">
				<li>“Leadership - Men Leading Men” <span style="font-style: italic; font-size: 14px">with speaker Pastor Steve Milazzo</span></li>
				<li>“The Battle for Your Mind - Thinking That Conquers"<span style="font-style: italic; font-size: 14px">with speaker Bishop Roderick Caesar</span></li>
				<li>“Boyz to Men” <span style="font-style: italic; font-size: 14px">with speaker Pastor Brian McMillan</span></li>
				<li>“Sex and the Spirit-filled Man” <span style="font-style: italic; font-size: 14px">with speaker Pastor Gregg Johnson</span></li>
				<li>“Can the Bible Be Trusted?” <span style="font-style: italic; font-size: 14px">with speaker Dan Buttafuoco</span></li>
				<li>“The Compound Effect - Success in Business and Life” <span style="font-style: italic; font-size: 14px">with speaker Dan Meylan</span></li>
				<li>“Fatherhood - Raising Faithful Kids"<span style="font-style: italic; font-size: 14px">with speaker Tim Shoemaker</span></li>
			</ul></br></br>
		  </div>
			<h2>Suggested Donation: $15</h2>
			<p>Please call Men’s Discipleship Network at 631-753-1244 to purchase your Audio Access Card.
			If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN. 
			</p></br>
			<div style="text-align:center">
				<iframe src="http://www.dropcards.com/download/profilewidget/?ArtistID=41394" width="400" height="205"
 				scrolling="no" frameborder="0" allowtransparency="true" style='width: 400px; height: 205px; background: none;'></iframe>
			</div>
			</br>
			
	    </div>
	<% else %>
	   <div id="watch">
	   	<p style="font: Audiowide; font-size: 18px;">The Men’s Discipleship Boot Camp, “The Measure of a Man” was a powerful and "man-changing" event for Christian men. Along with a line-up of the nation’s top men’s speakers, men from all over the tri-state area gathered to hear “Truth that Transforms with Training that Sustains”.  Due to the overwhelming response for the speakers’ sessions at this packed event, we are providing the event audio with every keynote speaker and breakout session available for purchase with the Audio Access Card.</p></br>

	   	<h2>Suggested Donation: $15</h2>
			<p style="font: Audiowide; font-size: 18px;">Please call Men’s Discipleship Network at 631-753-1244 to purchase your Audio Access Card.	If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN. 
			</p></br>

	   	<h1>If you have already received an Audio Access Card, you may begin downloading the event audio at 12PM EST on April 12, 2016. Thank you for your patience. </br></br>Don't lose your card with the access code! You will need it to access the audio.</h1>
		</div></br></br>
		
	<% end %>
</div>
