<div id="top-image">
	<img src="../images/events/events_top_image.jpg" width="933" height="377" alt="">
</div>
<h1>Upcoming Events</h1>
</br>
<div class="white_data" id="events">
<table width="100%" border="5">
	<col align="center" width="30"/>
	<col align="center" width="25"/>
	<col align="center" width="25"/>
	<col align="center" width="20"/>
	<col align="center" width="20"/>
	<tr>
	    <th>Event</th>
	    <th>Date</th>
	    <th>Time</th>
		<th>Venue</th>
		<th>Location</th>
	 </tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 3, 2012</td>
		<td>8:00 AM</td>
		<td>Discipleship Conference Center</td>
		<td>Farmingdale, NY</td>
	</tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 10, 2012</td>
		<td>8:00 AM</td>
		<td>Church of God of East Flatbush</td>
		<td>Brooklyn, NY</td>
	</tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 17, 2012</td>
		<td>8:00 AM</td>
		<td>New Beginnings Christian Center</td>
		<td>Coram, NY</td>
	</tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 24, 2012</td>
		<td>8:00 AM</td>
		<td>Crossroads Tabernacle</td>
		<td>Bronx, NY</td>
	</tr>
</table>
</br>
<p>If you would like to host an event at your church, please contact Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=MDN Inaugural Gala">paula@mensdiscipleshipnetwork.com.</a></p>
</div>
</br>
<div id="event_details">
	
	<h2 id="dbc">Discipleship Boot Camp&#174;</h2>
	<p>Attending a Discipleship Boot Camp&#174; can be a life changing experience for men and a shot in the arm for your church's men's group. Invite your Pastor, Men's Leader, and Men of your church to one of the upcoming Discipleship Boot Camps&#174; in a location near you. Large group and early bird discounts are available.</p></br>
	<p>For questions or to register call Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=Questions about WEAPONS">paula@mensdiscipleshipnetwork.com.</a></p></br><a href="#events">Back to top</a> &uarr;</br></br>
</div>
<div id="event_image">
	<div id="march2012-dbc-w-links-01">
		<img src="/images/announcements/march_dbc_announcement/images/march2012_dbc_w_links_01.jpg" width="378" height="236" alt="">
	</div>
	<div id="march2012-dbc-farmingdale">
		<a href="http://www.god4me.com/focus.asp?item=15G901X-12" target="blank">
			<img src="/images/announcements/march_dbc_announcement/images/march2012_dbc_farmingdale_soldout.jpg" width="191" height="63" border="0" alt=""></a>
	</div>
	<div id="march2012-dbc-brooklyn">
		<a href="http://www.god4me.com/focus.asp?item=15G901X-14" target="blank">
			<img src="/images/announcements/march_dbc_announcement/images/march2012_dbc_brooklyn.jpg" width="187" height="63" border="0" alt=""></a>
	</div>
	<div id="march2012-dbc-coram">
		<a href="http://www.god4me.com/focus.asp?item=15G901X-16" target="blank">
			<img src="/images/announcements/march_dbc_announcement/images/march2012_dbc_coram.jpg" width="191" height="56" border="0" alt=""></a>
	</div>
	<div id="march2012-dbc-bronx">
		<a href="http://www.god4me.com/focus.asp?item=15G901X-10" target="blank">
			<img src="/images/announcements/march_dbc_announcement/images/march2012_dbc_bronx.jpg" width="187" height="56" border="0" alt=""></a>
			
	</div>
	<div id="march2012-dbc-click"><p>Register Today!</p><p>Click on the location near you. </p></div>
	
	
	
</div>
