<div id="top-image">
	<img src="../images/events/events_top_image.jpg" width="933" height="377" alt="">
</div>
<h1>Upcoming Events</h1>
</br>
<div class="white_data" id="events">
<table width="100%" border="5">
	<col align="center" width="30"/>
	<col align="center" width="25"/>
	<col align="center" width="25"/>
	<col align="center" width="20"/>
	<col align="center" width="20"/>
	<tr>
	    <th>Event</th>
	    <th>Date</th>
	    <th>Time</th>
		<th>Venue</th>
		<th>Location</th>
	 </tr>
	<tr>
		<td><a href="#weapons">W.E.A.P.O.N.S. Curriculum for Men&#153;</a></td>
		<td>Sept 5th - Oct 10, 2012</td>
		<td>Every Wednesday night at 7:00 PM</td>
		<td>Lighthouse Tabernacle Church</td>
		<td>1230 Motor Pkwy, Central Islip, NY 11722</td>
	</tr>
<!--	<tr>
		<td><a href="#bof">Businessmen of Faith&#153;</a></td>
		<td>June 12, 2012</td>
		<td>8:00 AM</td>
		<td>Discipleship Conference Center</td>
		<td>27 Grand Ave., Farmingdale, NY 11735</td>
</tr> -->
	
</table>
</br>
<p>If you would like to host an event at your church, please contact Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=MDN Inaugural Gala">paula@mensdiscipleshipnetwork.com.</a></p>
</div>
</br>
<div id="event_details">
	<a name="weapons"></a>
	<h2 class="weapons">W.E.A.P.O.N.S.&#153;</h2>
	<p>A Biblical Arsenal of Truth for Men! Intense training for men beginning Tuesday, Sept. 5th for 6 consecutive Tuesday nights ending on Oct. 10th.
Teaching a man to strengthen himself in the Lord. <a href="http://www.mensdiscipleshipnetwork.com/pages/curriculum" >Click here</a> to learn more about W.E.A.P.O.N.S. training.</p></br>
	<p>For questions or to register call Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=Questions about WEAPONS">paula@mensdiscipleshipnetwork.com.</a></p>
	</br><p><a href="http://god4me.com/focus.asp?item=15G901X-1" >Click here to purchase tickets securely online</a></p>
	</br><a href="#events">Back to top</a> &uarr;</br></br>
	
<!--	<a name="bof"></a>
	<h2>Businessmen of Faith&#153;</h2>
	<p>If you are a business owner, an aspiring business owner, a professional or in a management position, we invite you to attend MDN's Businessmen of Faith networking breakfast.
		 Special guest speaker Daniel P. Buttafuoco, Esq. of law firm Buttafuoco & Associates. $50 suggested donation. To register call Paula DiBernardo at 631-753-1244 or email 
		 her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=Questions about WEAPONS">paula@mensdiscipleshipnetwork.com.</a></p>
	</br><a href="#events">Back to top</a> &uarr;</br></br> -->
</div>
<div id="event_image">
	
	
	
	
</div>
