<div id="top-image">
	<img src="../images/events/events_top_image.jpg" width="933" height="377" alt="">
</div>
<h1>Upcoming Events</h1>
</br>
<div class="white_data" id="events">
<table width="100%" border="5">
	<col align="center" width="30"/>
	<col align="center" width="25"/>
	<col align="center" width="25"/>
	<col align="center" width="20"/>
	<col align="center" width="20"/>
	<tr>
	    <th>Event</th>
	    <th>Date</th>
	    <th>Time</th>
		<th>Venue</th>
		<th>Location</th>
	 </tr>
	<tr>
		<td><a href="#golf">Golf Outing</td>
		<td>September 26, 2011</td>
		<td>12:00 PM</td>
		<td>Lido Beach Golf Course</td>
		<td>Lido Beach, NY</td>
	</tr>
	<tr>
		<td><a href="#gala">MDN Inaugural Gala Banquet</a></td>
		<td>November 10, 2011</td>
		<td>7:00 PM</td>
		<td>Long Island Marriott</td>
		<td>Uniondale, NY</td>
	</tr>
	<tr>
		<td><a href="#weapons">W.E.A.P.O.N.S.&#153; Training</a></td>
		<td>September 13, 2011</td>
		<td>7:00 PM</td>
		<td>Full Gospel Christian Center</td>
		<td>Port Jefferson Station, NY</td>
	</tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 10, 2012</td>
		<td>8:00 AM</td>
		<td>Church of God of East Flatbush</td>
		<td>Brooklyn, NY</td>
	</tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 17, 2012</td>
		<td>8:00 AM</td>
		<td>New Beginnings Christian Center</td>
		<td>Coram, NY</td>
	</tr>
	<tr>
		<td><a href="#dbc">Discipleship Boot Camp&#174;</a></td>
		<td>March 24, 2012</td>
		<td>8:00 AM</td>
		<td>Crossroads Tabernacle</td>
		<td>Bronx, NY</td>
	</tr>
</table>
</br>
<p>If you would like to host an event at your church, please contact Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=MDN Inaugural Gala">paula@mensdiscipleshipnetwork.com.</a></p>
</div>
</br>
<div id="event_details">
	<h2 id="golf">First Annual Men's Discipleship Network Golf Outing</h2>
	<p>Join us for our first annual MDN Golf outing. It's going to be a day of fun, fellowship and perhaps (if your game is like Head Coach Scott's) frustration. If Head Coach Scott and Men's Discipleship Network has ministered to you, please come out and help support MDN. Your golf donation of $200 includes the following: 18 Holes of premier golf at the beautiful <a href="http://www.lidogolf.com/">Lido Beach Golf Club</a>, a gift bag with a pair of NY Mets Tickets for 9/27/11, and use of a golf cart for your game.</p></br>
	<p>To make reservations or ask questions call Golf Chairman, Dennis Labriola at 631-249-1244 or email him at <a href="mailto:dlabriola@impact-sys.com?cc=paula@mensdiscipleshipnetwork.com&subject=MDN Golf Outing"> dlabriola@impact-sys.com.</a></p></br><a href="#events">Back to top</a> &uarr;<br></br>

	<h2 id="gala">Men's Discipleship Network Inaugural Gala</h2>
	<p>Come and share in MDN's plans to transform men for Christ and to "Change families one man at a time." See Alex Kendrick, author, director, and star of <a href="http://www.courageousthemovie.com">new movie Courageous</a>, speak about the importance of challenging and discipling men to live for Christ. Hear testimony about the tremendous fruit that this ministry has had in the Northeast over the past year and find out how you can partner with us as we move into the next phase that we believe the Lord has called us to. Enjoy a good meal and be inspired by the movement of God's Spirit in one of the most notoriously, unchurched areas of America.</p></br>
	<p>The Gala will be held at the Long Island Marriott. Tickets are $125 per seat or $1000 for a table of 10 seats. To reserve your seats contact Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=MDN Inaugural Gala">paula@mensdiscipleshipnetwork.com.</a></p></br><a href="#events">Back to top</a> &uarr;</br></br>
	
	<h2 id="weapons">W.E.A.P.O.N.S.&#153; Training</h2>
	<p>One of the things we remind ourselves often of is that "Men don't get what they wish for or hope for, they get what they prepare for, train for, and live for." Head Coach Scott has written a training curriculum for men that teaches a man to strengthen himself in the Lord. This hard hitting and practical training occurs over six consecutive Tuesday nights at 7PM. The next training class is being held on September 13th at Full Gospel Christian Center in Port Jefferson Station, NY. The cost for the class is $99.95 per person. Click here to <a href="http://god4me.com/focus.asp?item=15G901X-2">REGISTER</a></p></br>
	<p>For questions call Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=Questions about WEAPONS">paula@mensdiscipleshipnetwork.com.</a></p></br><a href="#events">Back to top</a> &uarr;</br></br>
	
	<h2 id="dbc">Discipleship Boot Camp&#174;</h2>
	<p>Attending a Discipleship Boot Camp&#174; can be a life changing experience for men and a shot in the arm for your church's men's group. Invite your Pastor, Men's Leader, and Men of your church to one of the upcoming Discipleship Boot Camps&#174; in a location near you. Large group and early bird discounts are available.</p></br>
	<p>For questions or to register call Paula DiBernardo at 631-753-1244 or email her at <a href="mailto:paula@mensdiscipleshipnetwork.com?&subject=Questions about WEAPONS">paula@mensdiscipleshipnetwork.com.</a></p></br><a href="#events">Back to top</a> &uarr;</br></br>
</div>
