<!-- <div id="top-image">
	<%= image_tag("curriculum/weapons_set_top_image.jpg", :width => '730', :alt => 'Photo of the WEAPONS training curriculum for men. This image shows the DVDs, manuals, and box that comes in the kit')%>

</div> -->
<div class="interior_content clearfix">
	<div id="curriculum_body" class="stats title">
		<h1>Redeemed: A New Kind of Man</h1>
		<h2>Darryl Strawberry - Keynote Speaker at MDN's Annual Fundraising Gala</h2>
		<div id="curriculum_overview">
			<div class="video">
			<iframe width="560" height="315" src="//www.youtube.com/embed/Zo-s4k0enUU" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div class="callout">
			<p>"Here I am, a baseball superstar, falling into the pits, having everybody write you off, and then having God say, 'I'm going to use your mess for a message.' How beautiful is that?" </p><citation>-- Darryl Strawberry as quoted by the<a href="http://www.washingtonpost.com/local/fallen-mets-star-darryl-strawberry-finds-new-life-in-ministry/2013/07/26/17e99b98-f53c-11e2-a2f1-a7acf9bd5d3a_story.html" target="_blank">Washington Post</a></citation>
		</div></br>
		<div>
			<h2>Join Us for an Evening of Celebration</h2>
			<p>Darryl Strawberry had everything a man could want…The Wallet, The Woman, and The Wide World of Sports. But his life and marriage fell apart. Join us for MDN's Second Annual Fundraising Gala to hear Darryl's amazing story of his redemption, transformation and calling as a son of God to true purpose for living in Jesus Christ.</p>
			<p>Hear about the transforming work of Christ through the ministry and curriculum of Men's Discipleship Network. Celebrate the lives that have been changed and the families, churches, and communities that have been impacted by men who have experienced the powerful, scriptural W.E.A.P.O.N.S.<sup>&#174;</sup> Curriculum. You don't want to miss this opportunity to see how the Kingdom is advancing in the Greater New York Area.</p>

		</br>

			<h3>Purchase Tickets Today!</h3>
			<p>A portion of your ticket price and any additional donations you give go to support the ministries of Men's Discipleship Network. The ministry depends on your generousity and partnership in our vision of "Changing Families One Man at Time"<sup>&#153;</sup> To purchase a table of 10 tickets at a discounted price, call our office at (631) 753-1244.</p>

		</div></br>
		<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=13047016979&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/mens-discipleship-network-gala-tickets-13047016979?ref=etckt">Men's Discipleship Network Gala</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
		<!-- </br>
		<%#= image_tag("curriculum/weapons_chart_sm.gif", :class => "graphic") %>
		<p><a href="/events/events">Check the schedule</a> for the next training session. <a href="/pages/contact">Contact</a> us to discuss how your church's Men's ministry can benefit from WEAPONS.</p> -->
		
	</div>
</div>
