<div id="top-image">
	<img src="../images/leadership/leadership_top_image.jpg" width="933" height="377" alt="">
</div>
<div>
<h1>Leadership Bible Studies</h1></br>
<p>Men's Discipleship Network conducts bible studies twice each week to provide sustained training to Men's Leaders and Pastors who are serious about growing in Christ-like masculinity and spiritual maturity. This study is not for the faint of heart or the man who would like to hide away from being held accountable. Men who attend the Leadership Bible Study are held accountable for regular attendance, transparency in their lives, fruit in their ministries, and financial support of MDN.</p></br>

<p>Each week, the study opens with 30 minutes of worship and prayer. Head Coach Scott Caesar or one of the other MDN Coaches prepares a teaching for the men from Scripture, and then the men have an opportunity to discuss the application of the scriptural truth in their lives. Men are instructed about their ultimate purpose of loving God and bearing much fruit for Him, and how to "abide" in Christ to live the "abundant life" that Jesus spoke about in John 10:10.</p></br>

<p>If you are interested in attending the Leadership Bible Studies, please contact Paula Dibernardo at (631)753-1244.</p></br>
<ul style="line-height: 140%; list-style-type:square;list-style-position: inside;">
	<li>Monday Nights 7pm-9pm - Men’s Bible Study</li>
	<li>Wednesday Noontime Devotion and Prayer – 12pm to 1pm – open to all</li>
	<li>Thursday Morning Leadership Study - 6am to 8:00am – Men’s Leadership Bible Study</li>
</ul>
</div>
</br>
</br>
<div>
	<img src="../images/leadership/thurs_AM_new_room.jpg" width="700">
	<p class="caption">Men worship at Thurs. 6:30AM Leadership Bible Study in the new conference room under construction</p>
</div>
