<div id="manhood-top-image">
	<a href="/pages/donate"><img src="/images/manstat/manstat_top_image.jpg" width="933" height="377" alt=""></a>
</div>
<div id="manhood-stats">
	<div id="manhood" class="stats">
<h1>Manhood</h1>
<h2>American men are isolated</h2>
<h3>Statistic: When asked if they presently have one or two men that they could clearly
call their best friends”;95% of men surveyed at the conference said "NO".</h3>
<f>Source: 1996 PK Conference Survey</f>
<p>This is a result of culture, the flesh and spiritual warfare Men are not connected to one another in any meaningful way. Because men change primarily in the context of ‘relationship’, this is a serious spiritual problem.</p>
	</div>
	
	<div id="fatherhood" class="stats">
<h1>Fatherhood</h1>
<h2>Fathers are essential to children connecting to church</h2>
<h3>Statistic:</br></h3>
<ul>
	<li>When a <span style="font-weight:bold;">child</span> is the first to connect to a church; 3.5% of the families follow</li>
	<li>When a <span style="font-weight:bold;">wife/mom</span> is the first to connect to a church; 22% of the families follow</li>
	<li>When a <span style="font-weight:bold;">husband/dad</span> is the first to connect to a church; 93% of the families follow</li>
</ul>
	</div>
	<div id="account" class="stats">
<h1>Accountability</h1>
<h2>American men are isolated</h2>
<h3>Statistic:</h3>
	</div>
</div>
