<div id="manhood-top-image">
	<a href="/pages/donate"><img src="/images/manstat/manstat_top_image.jpg" width="933" height="377" alt=""></a>
</div>
<div id="manhood-stats">
	<div id="manhood" class="stats">
<h1>Manhood</h1>
<h2>American men are isolated</h2>
<h3>Statistic:</h3> 
<ul>
	<li>When asked if they presently have one or two men that they could clearly call their best friends”;95% of men surveyed at the conference said "NO".</li>
</ul>
<f>Source: 1996 PK Conference Survey</f>
<p>This is a result of culture, the flesh and spiritual warfare Men are not connected to one another in any meaningful way. Because men change primarily in the context of ‘relationship’, this is a serious spiritual problem.</p>
	</div>
	
	<div id="fatherhood" class="stats">
<h1>Spiritual Headship</h1>
<h2>Fathers are essential to children connecting to church</h2>
<h3>Statistics:</br></h3>
<ul>
	<li>When a <span style="font-weight:bold;">child</span> is the first to connect to a church; 3.5% of the families follow<n>1</n></li>
	<li>When a <span style="font-weight:bold;">wife/mom</span> is the first to connect to a church; 22% of the families follow<n>1</n></li>
	<li>When a <span style="font-weight:bold;">husband/father</span> is the first to connect to a church; 93% of the families follow<n>1</n></li>
	<li>Christian marriages end in <span style="font-weight:bold;">divorce</span> approximately 45% of the time. But when a man prays with his wife daily only 1 out of 1,152 marriages end in divorce.<n>2</n></li>
</ul>
<f>Sources:</f>
	<ul class="footnote">
		<li><f>1. Word Publishing </f></li>
		<li><f>2. George Gallup </f></li>
	</ul>
	</div>
	
	<div id="fatherhood" class="stats">
<h1>Fatherhood</h1>
<h2>Study after study shows that kids without a positive role model are more likely to engage in antisocial behavior.</h2>
<h3>Statistics:</br></h3>
<ul>
	<li>72% of all adolescent <span style="font-weight:bold;">murders are committed by children</span> who have grown up in fatherless homes.<n>1</n></li>
	<li><span style="font-weight:bold;">Over 70% of prison inmates</span> in America grew up in homes without their fathers<n>1</n></li>
	<li>85% of children with <span style="font-weight:bold;">behavioral disorders</span> come from fatherless homes<n>2</n></li>
	<li>71% of <span style="font-weight:bold;">high school dropouts</span> come from fatherless homes<n>3</n></li>
	<li>75% of adolescents in <span style="font-weight:bold;">chemical abuse</span> centers come from fatherless homes<n>4</n></li>
	<li>70% of kids who live in <span style="font-weight:bold;">state institutions</span> are from fatherless homes<n>5</n></li>
	<li>85% of all kids locked up in <span style="font-weight:bold;">youth prisons</span> had no father involved in their lives <n>6</n></li>
</ul>
<f>Sources:</f>
	<ul class="footnote">
		<li><f>1. Josh McDowell, author and lecturer </f></li>
		<li><f>2. Center for Disease Control </f></li>
		<li><f>3. National Principals' Association Report on the Statistics of High Schools </f></li>
		<li><f>4. Rainbows for all God's Children)</f> </li>
		<li><f>5. U.S. Department of Justice Special Report </f></li>
		<li><f>6. Texas Department of Corrections </f></li>
	</ul>
	</div>
	<div id="account" class="stats">
<h1>Fatherhood</h1>
<h2>Father absenteeism has consequences </h2>
<h3>Statistics:</h3>
<ul>
	<li>Christian marriages end in <span style="font-weight:bold;">divorce</span> approximately 45% of the time.<n>1</n></li>
	<li><span style="font-weight:bold;">24 million children</span> live absent their biological father<n>2</n></li>
	<li><span style="font-weight:bold;">40% of children</span> in father-absent homes have not seen their father at all in the past year<n>2</n></li>
	<li><span style="font-weight:bold;">11 days</span> (accumulative hours) is the total time that a dad talks with his child in a lifetime<n>3</n></li>
	<li><span style="font-weight:bold;">12 years</span> (accumulative hours) is the total time a father works in a lifetime<n>3</n></li>
	<li><span style="font-weight:bold;">37 seconds</span> is the average daily time a father spends one on one with a pre-schooler<n>4</n></li>
</ul>
<f>Sources:</f>
	<ul class="footnote">
		<li><f>1. George Gallup </f></li>
		<li><f>2. National Fatherhood Initiative </f></li>
		<li><f>3. National Center for Fathering </f></li>
		<li><f>4. Focus on the Family </f></li>
	</ul>
	</div>
	
