<div id="resources">
	<div id="elder_header">
		<h1 class="center">Edwin Louis Cole</h1><h2 class="center" style="font-size: 24px";>Man of the Year Award</h2>
        <p>We are pleased to announce Dr. Duane Durst, NY District Superintendent of the Assemblies of God Churches as the recipient of the 2016 Man of the Year award.</p>
        <%= image_tag("moty/durst_moty_2016.jpg", :alt => 'Joe Girardi with Pastor Scott Caesar congratulating Dr. Durst on receiving Man of the Year award.', :class => 'image_float_rt')%>
        <p>Dr. Duane P. Durst is a graduate of Central Bible College in Missouri and Ashland Theological Seminary in Ohio. While at Ashland Seminary, Duane acquired a Masters of Divinity, Psychology and Counseling as well as a Doctorate of Ministry in Administration. He is an adjunct professor at Ashland Theological Seminary and the Assemblies of God Theological Seminary.  He has served as a church consultant in the area of administration, planning and leadership development, and conflict resolution.</p>
		<p>Dr. Durst has pastored churches in Illinois, Wisconsin, Ohio and New York State. He has served in a number of sectional positions within the New York District Assemblies of God, including serving as the first sectional presbyter of the New York City – Queens section.  Duane has served in the district office as the Administrative Assistant, District Assistant Superintendent, and currently as the District Superintendent. 
		Duane also serves as the Non-Resident Northeast Region Executive Presbyter for the General Council of the Assemblies of God, in which he also serves in several committees for.</p>
		<p>Duane and Beverly, both natives of Warren, Ohio, have served congregations as youth pastor, music pastor, associate, and senior pastor.  They have led couples retreats and are a clergy presenting couple for Assemblies of God Marriage Encounter.  They have three children and eight beautiful grandchildren: Marcus, Eileen, Abraham, Noah, Ada and Jacob Burhanna of Huntsville, Ohio; Jonathan, Carmen, Alicia, Matthew and Gabriela Durst of Phoenix, New York; and Joel, Julianna, Benjamin, Abigail and Isaiah Durst of Solvay, New York.  Out of all their jobs and ministries being "Papa" and "Nana" are the best!</p></p><%= image_tag("moty/girardi.jpg", :alt => 'Joe Girardi with Pastor Scott Caesar in his early days of ministry', :class => 'image_float_lft')%>

		<p>On November 17, 2016, we MDN celebrated its 20th year anniversary with a fundraising gala at The Inn at New Hyde Park. We were honored and privileged to have as our keynote speaker, Joe Girardi, Manager of the New York Yankees. It was a double honor because Joe spoke at our first event 20 years ago! Additionally, we had the privilege of presenting the Edwin Louis Cole Man of the Year Award to Dr. Duane Durst. Please join us in congratulating this humble servant of God in receiving this honor and recognition from his brothers and sisters throughout the great Body of Christ.</p>

        <h2>About the Edwin Louis Cole Man of the Year Award</h2>
		<p><%= image_tag("moty/ed_cole_web_sm.jpg", :alt => 'Dr. Edwin Louis Cole', :class => 'image_float_rt')%>

			 Dr. Edwin Louis Cole, the "father of the Christian men’s movement”
		Dr. Cole established a heritage that will influence generations, launched from a mission statement that propelled his life and ministry: “I have been called to speak with a prophetic voice to the men of this generation and commissioned with a ministry majoring in men to declare a standard for manhood, and that standard is that ‘Manhood and Christ-likeness are Synonymous.” 

		<p>The late Dr. Edwin Louis Cole was a friend and mentor who shaped and molded MDN’s Founder, Scott Caesar as a Men’s Pastor. We continue his legacy by standing in the gap as advocates for Christian men, not ceasing until revival through ministry to men takes place in our region.</p><%= image_tag("moty/moty_award.jpg", :alt => 'Photo of the Doctor Edwin Louis Cole man of the year award.', :class => 'image_float_lft')%>

		<p>Each year MDN selects one man to receive this prestigious award from among a pool of nominations made by the Churches and people in our network. This award recognizes a man who has positively influenced the Church, his family and community. He should have a love and zeal for Christ which is evidenced of growth in his spiritual life, family life and his church life. He goes the distance in ministry with a strong conviction in building up others to live in the freedom that Christ provided through the Gospel that makes men whole. Please write how this person would best represent Men’s Discipleship Network Man of the Year.</p>

	</div>

	
</div>

	
	