<div id="resources">
	<div id="elder_header">
		<h1>Dr. Edwin Louis Cole Man of the Year Award</h1>
		<p><%= image_tag("moty/dr_cole_1.jpg", :alt => 'Doctor Edwin Louis Cole with Pastor Scott Caesar in his early days of ministry', :class => 'image_float_rt')%> Dr. Edwin Louis Cole, The Father of the Christian Men’s Movement”
		Dr. Cole established a heritage that will influence generations, launched from a mission statement that propelled his life and ministry: “I have been called to speak with a prophetic voice to the men of this generation and commissioned with a ministry majoring in men to declare a standard for manhood, and that standard is that ‘Manhood and Christ-likeness are Synonymous.” </p>

		<p>Men’s Discipleship Network will be hosting its 20th Year Anniversary Gala in ministry to men. The celebration will be held at the beautiful Inn at New Hyde Park on Long Island, Thursday, November 17, 2016. At this event we will honor and recognize a man who has positively influenced the church, his family and community with the Edwin Louis Cole Man of the Year Award.</p><%= image_tag("moty/cole_pointing.jpg", :alt => 'Photo of the Doctor Edwin Louis Cole man of the year award.', :class => 'image_float_lft')%>

		<p>We would like to ask for your prayerful consideration of involvement in helping in the process of nominating a man for this honorable award. The late Dr. Edwin Louis Cole was a friend and mentor who shaped and molded MDN’s Founder, Scott Caesar as a Men’s Pastor. We continue his legacy by standing in the gap as advocates for Christian men, not ceasing until revival through ministry to men takes place in our region.</p>

		<h2>Recognition</h2>
		<p>The Edwin Louis Cole Award is awarded to a man who has positively influenced the church, his family and community. He should have a love and zeal for Christ which is evidenced of growth in his spiritual life, family life and his church life. He goes the distance in ministry with a strong conviction in building up others to live in the freedom that Christ provided through the Gospel that makes them whole. This is a man who provides leadership within his family, church and community.</p><%= image_tag("moty/moty_award.jpg", :alt => 'Photo of the Doctor Edwin Louis Cole man of the year award.', :class => 'image_float_rt')%>

		<h2>Requirements</h2>
		<p>Nominees can be any Christian man whether Pastor, Men’s Leader, Layman or Laborer. Please keep nominations to one person per church and/or business. The nomination must be accompanied with one or two paragraphs on why this person should receive this year’s award. If married, please include a statement from their wife and/or children. If single, please include a statement from the man’s pastor or spiritual covering. Applications will be reviewed by Men’s Discipleship Network’s Boards.</p>

		<p>Every man nominated and accepted will be recognized the night of the gala, as well as have his name listed in the commemorative keepsake journal under the Man of the Year. The winner will be presented with the Edwin Louis Cole Man of the Year Award at the MDN’s 20th Year Anniversary Gala on November 17, 2017 by Dr. A.R. Bernard, Bishop Roderick Caesar, Pastor Steve Milazzo and Richard Galloway. The winner will receive prizes including a vacation package. The winner must be present on the night of gala to be eligible.</p></br>

		<div class="center"><%= link_to image_tag("moty/button.jpg"), "resources/man_of_the_year_application.pdf" %></div></br>

	</div>

	
</div>

	
	