<div id="resources">
	<div id="resource_header">
		<h1>Men's Ministry Resources</h1>
	</div>
    <div class="resource_wrap clearfix">
		<h2>Man of Association - Permission Granted - W.E.A.P.O.N.S.® Curriculum for Men</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic Association: Permission Granted</p>
		<iframe src="https://player.vimeo.com/video/141131584" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Man of Habit: Expunge Part I - W.E.A.P.O.N.S.® Curriculum - Habits, History of Habit-Strongholds  with Pastor Scott Caesar</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is form the W.E.A.P.O.N.S.® Curriculum Topic Expunge: Habits that Hinder</p>
		<iframe src="https://player.vimeo.com/video/141088323" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Man of Habit - Part II - Expunge - W.E.A.P.O.N.S.® Curriculum - Lust Romans 7 to 8-Pastor Scott Caesar-Men's Discipleship Network </h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic Expunge: Habits that Hinder, Part II</p>
		<iframe src="https://player.vimeo.com/video/140911813" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Man of Habit - Part III - Expunge - W.E.A.P.O.N.S.® Curriculum - Divine Displacement - The ABC's </h2>
		<p>A teaching on Session three (3) entitled Expunge -  Part III from The W.E.A.P.O.N.S.® Curriculum for Men. What expunging a habit and exchanging it means for a man and his faith - How man expunges a habit and to tap into the power needed to accomplish that. Pastor Scott Caesar is speaking to leaders and recorded live at the MDN Word Center in Farmingdale, New York.</p>
		<iframe src="https://player.vimeo.com/video/140911813" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Man of Purpose - Part I - W.E.A.P.O.N.S. ® Curriculum for Men with Pastor Scott Caesar </h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic Purpose: The Wallet, The Woman & The Wide World of Sports. Part I</p>
		<iframe src="https://player.vimeo.com/video/141899180" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="resource_wrap clearfix">
		<h2>Man of Purpose: Part II John 1 (Logos) - Rules of Engagement Scripture - Story: Coach Lou Little -W.E.A.P.O.N.S.® Curriculum</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic: Purpose with Rules of Engagement walked through with men. In addition Pastor Scott goes in more depth with John chapter 1 and the word 'Logos" as well as the purposeful story of Coach Lou Little.</p>
		<iframe src="https://player.vimeo.com/video/142539093" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="resource_wrap clearfix">
		<h2>Man of Purpose - Part III  W.E.A.P.O.N.S. ® Curriculum for Men with Pastor Scott Caesar</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic Purpose: The Wallet, The Woman & The Wide World of Sports. Part III</p>
		<iframe src="https://player.vimeo.com/video/141627947" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="resource_wrap clearfix">
		<h2>Man of Order: Part I - Introduction W.E.A.P.O.N.S. ® Curriculum for Men with Pastor Scott Caesar</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic, Order: Introduction 
This video also summarizes the previous Purpose topic and transitions into the Order topic in the curriculum.</p>
		<iframe src="https://player.vimeo.com/video/142522528" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Man of Order: Part II Chart- Fill-ins & Man-Shop Questions walk through for W.E.A.P.O.N.S.® Curriculum for Men</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic, Order: Chart Fill-ins and Manshop</p>
		<iframe src="https://player.vimeo.com/video/142538733" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="resource_wrap clearfix">
		<h2>Man of Order: Part III - Starting Order: Orderly Thinking from W.E.A.P.O.N.S.® Curriculum for Men</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic, Order: Starting Order: Orderly Thinking.</p>
		<iframe src="https://player.vimeo.com/video/142538921" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="resource_wrap clearfix">
		<h2>Man of Order: Part IV - W.E.A.P.O.N.S.® Curriculum  Luke 14:33</h2>
		<p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic,: Order. Luke 14:33 is discussed here with Headship.</p>
		<iframe src="https://player.vimeo.com/video/141662150" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Names of God - Part I - W.E.A.P.O.N.S.® Curriculum for Men with Pastor Scott Caesar</h2>
		<p>A teaching on session 7 entitled The "Names of God" Part I from The W.E.A.P.O.N.S. ® Curriculum for Men and what it means for a man and his faith -Pastor Scott Caesar is speaking to a group of men. Recorded live at the MDN Word Center in Farmingdale, New York.</p>
		<iframe src="https://player.vimeo.com/video/143665255" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2>Names of God - Part II - W.E.A.P.O.N.S.® Curriculum for Men with Pastor Scott Caesar</h2>
		<p>A teaching on session 7 entitled The "Names of God" Part II from The W.E.A.P.O.N.S. ® Curriculum for Men and what it means for a man and his faith -Pastor Scott Caesar is speaking to leaders. Recorded live at the MDN Word Center in Farmingdale, New York.</p>
		<iframe src="https://player.vimeo.com/video/144077776" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="resource_wrap clearfix">
		<h2></h2>
		<p></p>
		<iframe src="" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>