<div id="resources">
	<div id="resource_header">
		<h1>Men's Ministry Resources</h1>
	</div>

	<div class="resource_wrap clearfix">
		<h1>Promotional Video</h1><h2>Pastor Scott Caesar Provides Intivation to W.E.A.P.O.N.S.® Curriculum </h2>
		<p>Use this to play at your church to explain to your men what W.E.A.P.O.N.S.® is and why they should attend this life transforming training.</p>
		<iframe src="https://player.vimeo.com/video/137392987" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	
</div>