
<div id="resources">
	<div id="resource_header">
		<div class="headers"><h1>MDN Resources for Men</h1></div>
	</div>

	<% @resources.each do |resource| %>

	<div class="resource_wrap clearfix">
			<div id="resource_title"><h1><%= resource.title.html_safe %></h1></div>
			<div id="resource_subtitle"><h2><%= resource.subtitle.html_safe %></h2></div>
			<div id="resource_desc"><%= resource.description.html_safe %></div>
			<div id="resource_thumbnail">				
				<%= image_tag resource.document_url(:wallet).to_s %>
			</div>
		</div>
	</div>
	</br>
	<% end %>
	<br />

</div>


