<div class="quote_block">
			<span class="quote_title">Quote of the Week</span></br>
			<span class="quote">"<%= @quote.text %>"</span></br>
			<span class="author"><%= @quote.author %></span>	
</div>