<div class="quote_block">
			<p><span class="quote_title">Quote of the Week</span></p></br>
			<p><span class="quote">"<%= @quote.text %>"</span></p></br>
			<p><span class="author"><%= @quote.author %></span></p>		
</div>