<!DOCTYPE html>
<html>
<head>
  <title>Men's Discipleship Network</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <%= stylesheet_link_tag "1reset.css", "scaffold.css", "menu.css", "index.css", "pushup.css" , "jquery.marquee.css", "jquery.fancybox.css" %>
  <%= javascript_include_tag "jquery.marquee.js", "jquery.fancybox.pack.js", "cycle.js" %>
  <%= csrf_meta_tag %>



<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script>
// Courtesy of SimplytheBest.net - http://simplythebest.net/scripts/
var browser_type=navigator.appName
var browser_version=parseInt(navigator.appVersion)
if (browser_type=="Microsoft Internet Explorer"&&browser_version<9)
	alert ("Please update your browser to enjoy all the features of the Men's Discipleship Network web site. We recommend Firefox, Safari, or Internet Explorer 9.");
	

/* window.location.replace("http://192.168.0.181:3000/pages/browserupdate.html") --> */
</script>

<script type="text/javascript">
// http://jquery.malsup.com/cycle/
// JQuery plug-in for cycling images
$(function() {
	$('#featured-area img:first').fadeIn(1000, function() {
        $('#featured-area').cycle();
    });
});

</script>

<!-- see: http://www.givainc.com/labs/marquee_jquery_plugin.htm> for more info -->
<script type="text/javascript">
$(document).ready(function (){
  $("#marquee").marquee();

}); 
</script>

</head>
<body style="background-color:#FFFFFF; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
 

<%= yield %>



</body>
</html>